*{
    padding: 0;
    margin: 0%;
}
.dssflex{
    display: flex;
    flex-direction: ;
    justify-content: space-around;
    background-color: red;
    width: 20%;
    height: 90vh;
    align-items: center;
}
.dsFlex{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: blue;
    height: 10vh;
    align-items: center;

}
.gap{
    gap: 2rem;
}
li, a{
    list-style: none;
    text-decoration: none;
}
img{
    position: absolute;
    top: 0;
}
.h31{
    background-color: red;
}
.borderRadius{
    border-radius: 15px;
}
.padding{
    padding: 10px;
}
.h32 {
    background-color: blue;
}
.textColorWhite{
    color: white;
}
.div{
    display: flex;
    background-color: green;
    justify-content: space-evenly;
}
.margin{
    margin: 0 10;
}