.Card {
    /** Size */
    height: 200px;

    /** Aligment */
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    /** Styling */
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #aeaeae55;
    padding: 30px;
    margin: 10px;
    width: fit-content;
    border: solid black 1px;
}

.Card-Details {
    /** styling */
    display: flex;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.Card-DetailText {
    display: flex;
    flex-direction: column;
}

.Card-SubHeader {
    color: gray;
}