* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dFlex {
    display: flex;
}

.alItems {
    align-items: center;
}

.jsContent {
    justify-content: center;
}

div {
    height: 100vh;
    width: 100vw;
}

.hover {
    color: white;
    position: absolute;
    top: 0;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    transition-property: hover;
    transition: ease-in-out 2s;
    width: 100px;
    height: 15px;
    animation: op 2s ease-in-out;
}

.hover:hover {
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
}



.Idk {
    opacity: 0;
    transition: 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 41%;
}

.Idk:hover {
    opacity: 1;
}

.hr {
    background-color: white;
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 5px;
    border-radius: 20px;
    animation: op 2s ease-in-out;
}

.bord {
    border-radius: 25px;
    animation: op 2s ease-in-out;
}

.pos {
    position: absolute;
    left: 505px;
    top: 8%;
    width: 0;
    height: 0;
    animation: op 2s ease-in-out;
}

.radius {
    border-radius: 20px;
}

.pos1 {
    position: absolute;
    left: 575px;
    top: 8%;
    width: 0;
    height: 0;
    animation: op 2s ease-in-out;
}

.pos2 {
    position: absolute;
    left: 655px;
    top: 8%;
    width: 0;
    height: 0;
    animation: op 2s ease-in-out;
}

.radiius {
    border-radius: 25px;
}

.pos3 {
    position: absolute;
    left: 725px;
    top: 8%;
    width: 0;
    height: 0;
    animation: op 2s ease-in-out;
}

@keyframes op {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 390px) {
    .bord {
        width: 390px;
    }

    .pos {
        position: absolute;
        left: 20px
    }

    .pos1 {
        position: absolute;
        left: 120px;
    }

    .pos2 {
        position: absolute;
        left: 220px;
    }

    .pos3 {
        position: absolute;
        left: 320px
    }
}

@media (max-width: 412px) {
    .bord {
        width: 420px;
    }

    .pos {
        position: absolute;
        left: 20px
    }

    .pos1 {
        position: absolute;
        left: 120px;
    }

    .pos2 {
        position: absolute;
        left: 220px;
    }

    .pos3 {
        position: absolute;
        left: 320px
    }
}

@media (max-width: 360px) {
    .bord {
        width: 350px;
    }

    .pos {
        position: absolute;
        left: 10px
    }

    .pos1 {
        position: absolute;
        left: 100px;
    }

    .pos2 {
        position: absolute;
        left: 200px;
    }

    .pos3 {
        position: absolute;
        left: 300px
    }
}

@media (max-width: 376px) {
    .bord {
        width: 380px;
    }

    .pos {
        position: absolute;
        left: 10px
    }

    .pos1 {
        position: absolute;
        left: 100px;
    }

    .pos2 {
        position: absolute;
        left: 200px;
    }

    .pos3 {
        position: absolute;
        left: 300px
    }
}